@use '../setup/variables' as vars;

.email-index {
    background: vars.$main-background;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    header {
        display: flex;
        align-items: center;
        margin-block: vars.$padding-small;
        label.search-mail {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            color: white;
            padding: vars.$padding-small vars.$padding-medium;
            gap: vars.$padding-small;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 10em;
            width: 100%;
            font-weight: 500;
            input {
                flex: 1;
            }
            &:has(input:focus) {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
        button.menu-btn {
            display: inline-flex;
            align-items: center;
            .menu-icon {
                margin-inline: vars.$padding-medium;
                color: vars.$main-color;
                cursor: pointer;
            }
        }
    }
    aside {
        .compose-btn {
            align-self: flex-start;
            color: vars.$grey-color;
            border-radius: vars.$border-radius;
            background-color: white;
            display: inline-flex;
            align-items: center;
            padding: vars.$padding-medium vars.$padding-large vars.$padding-medium vars.$padding-medium;
            font-weight: 500;
            gap: vars.$padding-medium;
            font-size: 0.9em;
            margin: vars.$padding-small vars.$padding-xs;
        }
        .email-folders {
            display: flex;
            flex-direction: column;
            margin: vars.$padding-xs vars.$padding-small vars.$padding-xs 0;
        }
        .email-folder-btn {
            color: vars.$main-color;
            padding: vars.$padding-xs vars.$padding-medium vars.$padding-xs vars.$padding-large;
            gap: vars.$padding-medium;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            border-top-right-radius: vars.$border-radius;
            border-bottom-right-radius: vars.$border-radius;
            cursor: pointer;
            text-decoration: none;

            .email-folder-name {
                font-size: 0.9em;
                text-shadow: vars.$shadow;
                margin-right: auto;
                text-transform: capitalize;
            }
            .email-count {
                font-size: 0.9em;
            }
            svg {
                filter: drop-shadow(vars.$shadow);
            }
            &.active {
                background-color: rgba(255, 255, 255, 0.3);
                font-weight: bold;
            }
            &:not(.active):hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}